AGENTS.md
iniciales_ignorar/test_inserts.sql
iniciales_ignorar/load_first_competition.sql
iniciales_ignorar/initial_versions/parse_results_pdf.py
iniciales_ignorar/initial_versions/parse_results_pdf_v0_1_1.py
iniciales_ignorar/initial_versions/run_pipeline_first_competition.py
iniciales_ignorar/initial_versions/run_pipeline_first_competition_v0_2.py
iniciales_ignorar/initial_versions/run_pipeline_first_competition_v0_3.py
iniciales_ignorar/initial_versions/run_pipeline_first_competition_v0_3_1.py
iniciales_ignorar/initial_versions/run_pipeline_first_competition_v0_3_2.py
iniciales_ignorar/initial_versions/run_pipeline_first_competition_v0_3_3.py
iniciales_ignorar/first_manual_load/primera_carga_manual.xlsx
iniciales_ignorar/first_manual_load/stg_athlete.csv
iniciales_ignorar/first_manual_load/stg_club.csv
iniciales_ignorar/first_manual_load/stg_event.csv
iniciales_ignorar/first_manual_load/stg_result.csv
iniciales_ignorar/first_script_load/primera_carga_script.xlsx
iniciales_ignorar/first_script_load/segunda_carga_script.xlsx
iniciales_ignorar/results_csv/parser_v0/athlete.csv
iniciales_ignorar/results_csv/parser_v0/club.csv
iniciales_ignorar/results_csv/parser_v0/debug_unparsed_lines.csv
iniciales_ignorar/results_csv/parser_v0/event.csv
iniciales_ignorar/results_csv/parser_v0/metadata.json
iniciales_ignorar/results_csv/parser_v0/parsed_results.xlsx
iniciales_ignorar/results_csv/parser_v0/raw_result.csv
iniciales_ignorar/results_csv/parser_v0/result.csv
iniciales_ignorar/results_csv/parser_v0.1.1/athlete.csv
iniciales_ignorar/results_csv/parser_v0.1.1/club.csv
iniciales_ignorar/results_csv/parser_v0.1.1/debug_unparsed_lines.csv
iniciales_ignorar/results_csv/parser_v0.1.1/event.csv
iniciales_ignorar/results_csv/parser_v0.1.1/metadata.json
iniciales_ignorar/results_csv/parser_v0.1.1/parsed_results_v0_1_1.xlsx
iniciales_ignorar/results_csv/parser_v0.1.1/raw_relay_swimmer.csv
iniciales_ignorar/results_csv/parser_v0.1.1/raw_relay_team.csv
iniciales_ignorar/results_csv/parser_v0.1.1/raw_result.csv
iniciales_ignorar/results_csv/parser_v0.1.1/relay_swimmer.csv
iniciales_ignorar/results_csv/parser_v0.1.1/relay_team.csv
iniciales_ignorar/results_csv/parser_v0.1.1/result.csv
iniciales_ignorar/results_csv/parser_v0.1.2/athlete.csv
iniciales_ignorar/results_csv/parser_v0.1.2/club.csv
iniciales_ignorar/results_csv/parser_v0.1.2/debug_unparsed_lines.csv
iniciales_ignorar/results_csv/parser_v0.1.2/event.csv
iniciales_ignorar/results_csv/parser_v0.1.2/metadata.json
iniciales_ignorar/results_csv/parser_v0.1.2/parsed_results_v0_1_1.xlsx
iniciales_ignorar/results_csv/parser_v0.1.2/raw_relay_swimmer.csv
iniciales_ignorar/results_csv/parser_v0.1.2/raw_relay_team.csv
iniciales_ignorar/results_csv/parser_v0.1.2/raw_result.csv
iniciales_ignorar/results_csv/parser_v0.1.2/relay_swimmer.csv
iniciales_ignorar/results_csv/parser_v0.1.2/relay_team.csv
iniciales_ignorar/results_csv/parser_v0.1.2/result.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Cordillera_Chile_2026/athlete.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Cordillera_Chile_2026/club.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Cordillera_Chile_2026/debug_unparsed_lines.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Cordillera_Chile_2026/event.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Cordillera_Chile_2026/metadata.json
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Cordillera_Chile_2026/parsed_results_v0_1_3.xlsx
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Cordillera_Chile_2026/raw_relay_swimmer.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Cordillera_Chile_2026/raw_relay_team.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Cordillera_Chile_2026/raw_result.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Cordillera_Chile_2026/relay_swimmer.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Cordillera_Chile_2026/relay_team.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Cordillera_Chile_2026/result.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Italia_2026/athlete.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Italia_2026/club.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Italia_2026/debug_unparsed_lines.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Italia_2026/event.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Italia_2026/metadata.json
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Italia_2026/parsed_results_v0_1_3.xlsx
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Italia_2026/raw_relay_swimmer.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Italia_2026/raw_relay_team.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Italia_2026/raw_result.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Italia_2026/relay_swimmer.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Italia_2026/relay_team.csv
iniciales_ignorar/results_csv/parser_v0.1.3/Copa_Italia_2026/result.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_argentina_2026/athlete.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_argentina_2026/club.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_argentina_2026/debug_unparsed_lines.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_argentina_2026/event.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_argentina_2026/metadata.json
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_argentina_2026/parsed_results_v0_1_4.xlsx
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_argentina_2026/raw_relay_swimmer.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_argentina_2026/raw_relay_team.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_argentina_2026/raw_result.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_argentina_2026/relay_swimmer.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_argentina_2026/relay_team.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_argentina_2026/result.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_chile_2026/athlete.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_chile_2026/club.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_chile_2026/debug_unparsed_lines.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_chile_2026/event.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_chile_2026/metadata.json
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_chile_2026/parsed_results_v0_1_4.xlsx
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_chile_2026/raw_relay_swimmer.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_chile_2026/raw_relay_team.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_chile_2026/raw_result.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_chile_2026/relay_swimmer.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_chile_2026/relay_team.csv
iniciales_ignorar/results_csv/parser_v0.1.4/copa_cordillera_chile_2026/result.csv
iniciales_ignorar/results_csv/parser_v0.1.4/coppa_italia_2026/athlete.csv
iniciales_ignorar/results_csv/parser_v0.1.4/coppa_italia_2026/club.csv
iniciales_ignorar/results_csv/parser_v0.1.4/coppa_italia_2026/debug_unparsed_lines.csv
iniciales_ignorar/results_csv/parser_v0.1.4/coppa_italia_2026/event.csv
iniciales_ignorar/results_csv/parser_v0.1.4/coppa_italia_2026/metadata.json
iniciales_ignorar/results_csv/parser_v0.1.4/coppa_italia_2026/parsed_results_v0_1_4.xlsx
iniciales_ignorar/results_csv/parser_v0.1.4/coppa_italia_2026/raw_relay_swimmer.csv
iniciales_ignorar/results_csv/parser_v0.1.4/coppa_italia_2026/raw_relay_team.csv
iniciales_ignorar/results_csv/parser_v0.1.4/coppa_italia_2026/raw_result.csv
iniciales_ignorar/results_csv/parser_v0.1.4/coppa_italia_2026/relay_swimmer.csv
iniciales_ignorar/results_csv/parser_v0.1.4/coppa_italia_2026/relay_team.csv
iniciales_ignorar/results_csv/parser_v0.1.4/coppa_italia_2026/result.csv
